In [7]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
#mouse file has 250 rows of data
mouse_df = pd.read_csv(mouse_drug_data_to_load)

#clinical file has 1893 rows of data
clinical_df = pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset
mouse_clinical_df = pd.merge(mouse_df, clinical_df, how='outer', on='Mouse ID')

# Display the data table for preview

In [8]:
mouse_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [9]:
clinical_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [13]:
mouse_clinical_df.head(100)

   Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0      f234  Stelasyn          0           45.000000                 0
1      f234  Stelasyn          5           47.313491                 0
2      f234  Stelasyn         10           47.904324                 0
3      f234  Stelasyn         15           48.735197                 1
4      f234  Stelasyn         20           51.112713                 2
5      f234  Stelasyn         25           52.178602                 2
6      f234  Stelasyn         30           56.873817                 2
7      f234  Stelasyn         35           57.748758                 2
8      x402  Stelasyn          0           45.000000                 0
9      x402  Stelasyn          5           46.327570                 1
10     x402  Stelasyn         10           46.886962                 1
11     x402  Stelasyn         15           49.119948                 1
12     x402  Stelasyn         20           50.414750                 2
13     x402  Stelasyn         25           52.431737                 2
14     x402  Stelasyn         30           54.351585                 3
15     x402  Stelasyn         35           55.240962                 3
16     x402  Stelasyn         40           56.691723                 3
17     x402  Stelasyn         45           61.619606                 3
18     a492  Stelasyn          0           45.000000                 0
19     a492  Stelasyn          5           46.409143                 0
20     a492  Stelasyn         10           48.432197                 0
21     a492  Stelasyn         15           51.985263                 0
22     a492  Stelasyn         20           53.677193                 0
23     a492  Stelasyn         25           54.701229                 1
24     a492  Stelasyn         30           56.201041                 1
25     a492  Stelasyn         35           57.308554                 1
26     a492  Stelasyn         40           57.928499                 1
27     a492  Stelasyn         45           60.122011                 1
28     w540  Stelasyn          0           45.000000                 0
29     w540  Stelasyn          5           45.885370                 1
..      ...       ...        ...                 ...               ...
70     m269  Stelasyn         15           55.905344                 0
71     m269  Stelasyn         20           61.145866                 0
72     m269  Stelasyn         25           64.893020                 0
73     m269  Stelasyn         30           67.712510                 1
74     m269  Stelasyn         35           68.689917                 1
75     m269  Stelasyn         40           70.214644                 1
76     m269  Stelasyn         45           75.123690                 1
77     a963  Stelasyn          0           45.000000                 0
78     a963  Stelasyn          5           46.233506                 0
79     a963  Stelasyn         10           47.150522                 0
80     a963  Stelasyn         15           47.836852                 0
81     a963  Stelasyn         20           51.463734                 0
82     a963  Stelasyn         25           52.129804                 0
83     a963  Stelasyn         30           53.401667                 1
84     a963  Stelasyn         35           56.813976                 1
85     a963  Stelasyn         40           58.463787                 1
86     a963  Stelasyn         45           62.765093                 1
87     t451  Stelasyn          0           45.000000                 0
88     t451  Stelasyn          5           48.047139                 0
89     t451  Stelasyn         10           48.957919                 0
90     t451  Stelasyn         15           49.652788                 0
91     t451  Stelasyn         20           51.063678                 0
92     t451  Stelasyn         25           55.527553                 0
93     t451  Stelasyn         30           59.275823                 0
94     t451  Stelasyn         35           63.756990                 0
95     t451  Stelasyn         40           67.654796                 1
96     t451  Stelasyn         45           68.711630                 1
97     p981  Stelasyn          0           45.000000                 0
98     p981  Stelasyn          5           47.000627                 0
99     p981  Stelasyn         10           47.545846                 0

[100 rows x 5 columns]

In [12]:
mouse_clinical_df.count()

Mouse ID              1906
Drug                  1906
Timepoint             1906
Tumor Volume (mm3)    1906
Metastatic Sites      1906
dtype: int64